1. Cross validation in detail
    1. Train/Test Split
    2. Train/ Validation/Test Split
    3. Scikit-Learn cross_valscore
    4. Scikit-Learn cross_validate
2. Grid Search
3. Linear Regression Project Exercise

# Cross Validation Test/ Validation/ Train Split

We just saw that train/test split ethod has disadvantage of not having a portion of data that can report a performance metric on truly 'unseen' data.

While adjusting hyperparameters on test data is a fair technique and not typically referrd to as 'data leakage', it is a potential issue in regards to reporting.

If we want a truly fair and final set of performance metrics, we should get these metrics from a final test set that we do not allow ourselves to adjust on.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("Advertising.csv")

In [3]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

# Train / Validation / Test Split Procedure
This is often also called a 'hold-out', since you should not adjust parameters based on the final test set, but instead use it only for reporting final expected performance.
1. Clean and adjust data as necessary for X and y.
2. Split Data in Train/Validation/Test for both X and y.
3. Fit/Train Scaler on Testing X data.
4. Create model.
5. Fit/Train on X Train Data.
6. Evaluate Model on X Evlauation Data(by creating predictions and comparing to Y_eval.)
7. Adjust Parameters as Necessary and repeat steps 5 and 6.
8. Get final metrics on Test set(not allowed to go back and adjust after this.)

In [4]:
X = df.drop('sales', axis = 1)

In [5]:
y = df['sales']

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
 X_train, X_other, y_train, y_other = train_test_split(X, y, test_size=0.3, random_state=101)

In [8]:
X_eval, X_test, y_eval, y_test=train_test_split(X_other, y_other, test_size=0.5, random_state=101)

In [9]:
len(df)

200

In [10]:
len(X_train)

140

In [11]:
len(X_eval)

30

In [12]:
len(X_test)

30

In [13]:
from sklearn.preprocessing import StandardScaler

In [14]:
scaler = StandardScaler()

In [15]:
scaler.fit(X_train)

StandardScaler()

In [16]:
X_train = scaler.transform(X_train)

In [17]:
X_test = scaler.transform(X_test)

In [18]:
X_eval = scaler.transform(X_eval)

In [19]:
from sklearn.linear_model import Ridge

In [20]:
model_one = Ridge(alpha =100)

In [21]:
model_one.fit(X_train, y_train)

Ridge(alpha=100)

In [22]:
y_eval_pred = model_one.predict(X_eval)

In [23]:
from sklearn.metrics import mean_squared_error

In [24]:
mean_squared_error(y_eval, y_eval_pred)

7.320101458823872

In [25]:
model_two = Ridge(alpha =1)

In [26]:
model_two.fit(X_train, y_train)

Ridge(alpha=1)

In [27]:
new_pred_eval = model_two.predict(X_eval)

In [28]:
mean_squared_error(y_eval, new_pred_eval)

2.3837830750569866

In [29]:
y_final_test_pred = model_two.predict(X_test)

In [30]:
mean_squared_error(y_test,y_final_test_pred)

2.254260083800517

# Cross Validation cross_val_score

Start With entire dataset

Split data Training data and test data

Remove test data for final evaluation

Choose K-Fold Split value for Training data

Recall K means more computation

1. The cross_val_score function uses a model and training set( along with a K and chosen metric) to perform all of this for us automatically.
2. This allows for K-Fold cross validation to be performed on any model.

In [31]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [32]:
df = pd.read_csv("Advertising.csv")

In [33]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [34]:
X = df.drop('sales', axis = 1)

In [35]:
y = df['sales']

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
 X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [38]:
from sklearn.preprocessing import StandardScaler

In [39]:
scaler = StandardScaler()

In [41]:
scaler.fit(X_train)

StandardScaler()

In [42]:
X_train = scaler.transform(X_train)

In [43]:
X_test = scaler.transform(X_test)

In [44]:
model = Ridge(alpha = 100)

In [45]:
from sklearn.model_selection import cross_val_score

In [47]:
score = cross_val_score(model, X_train,y_train, scoring='neg_mean_squared_error', 
                       cv = 5)

In [48]:
score

array([ -9.32552967,  -4.9449624 , -11.39665242,  -7.0242106 ,
        -8.38562723])

In [50]:
abs(score.mean())

8.215396464543607

In [51]:
model =Ridge(alpha=1)

In [52]:
score2 = cross_val_score(model, X_train,y_train, scoring='neg_mean_squared_error', 
                       cv = 5)

In [54]:
abs(score2.mean())

3.344839296530695

In [55]:
model.fit(X_train, y_train)

Ridge(alpha=1)

In [56]:
y_final_test_pred = model.predict(X_test)

In [57]:
mean_squared_error(y_test,y_final_test_pred)

2.3190215794287514

# cross_validate Function

This function allows us to view multiple performance metrics from cross validation on a model and explore how much time fitting and testing took.

In [58]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [59]:
df = pd.read_csv('Advertising.csv')

In [61]:
# CREATE X and y
X = df.drop('sales', axis = 1)
y = df['sales']

# TRAIN TEST SPLIT
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=101)

#SCALE DATA
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [62]:
from sklearn.model_selection import cross_validate

In [63]:
model =Ridge(alpha =100)

In [64]:
score = cross_validate(model, X_train, y_train, 
                      scoring=['neg_mean_squared_error',
                              'neg_mean_absolute_error'], cv=10)

In [68]:
score = pd.DataFrame(score)

In [69]:
score

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.002024,0.007533,-6.060671,-1.810212
1,0.002002,0.002598,-10.627031,-2.541958
2,0.002588,0.001553,-3.993426,-1.469594
3,0.001523,0.001564,-5.009494,-1.862769
4,0.001962,0.001524,-9.141800,-2.520697
5,0.002046,0.000999,-13.086256,-2.459995
6,0.001017,0.001003,-3.839405,-1.451971
7,0.001506,0.001013,-9.058786,-2.377395
8,0.000999,0.001000,-9.055457,-2.443344
9,0.002001,0.004528,-5.778882,-1.899797

In [70]:
score.mean()

fit_time                        0.001767
score_time                      0.002331
test_neg_mean_squared_error    -7.565121
test_neg_mean_absolute_error   -2.083773
dtype: float64

In [71]:
model = Ridge(alpha=1)

In [72]:
score = cross_validate(model, X_train, y_train, 
                      scoring=['neg_mean_squared_error',
                              'neg_mean_absolute_error'], cv=10)

In [73]:
score = pd.DataFrame(score)

In [74]:
score

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.006762,0.002000,-2.962508,-1.457174
1,0.001998,0.001003,-3.057378,-1.555308
2,0.002374,0.000971,-2.173740,-1.238770
3,0.008413,0.000000,-0.833034,-0.768938
4,0.000998,0.001004,-3.464018,-1.434489
5,0.001995,0.000000,-8.232647,-1.494316
6,0.001977,0.001520,-1.905864,-1.081362
7,0.002000,0.001000,-2.765048,-1.250011
8,0.002001,0.001009,-4.989505,-1.580971
9,0.000000,0.001518,-2.846438,-1.223326

In [75]:
score.mean()

fit_time                        0.002852
score_time                      0.001002
test_neg_mean_squared_error    -3.323018
test_neg_mean_absolute_error   -1.308467
dtype: float64

In [76]:
model.fit(X_train, y_train)

Ridge(alpha=1)

In [77]:
y_final_pred = model.predict(X_test)

In [78]:
mean_squared_error(y_test, y_final_pred)

2.3190215794287514