# Natural Language Processing

Defination 
1. Natural language processing (NLP) is a machine learning technology that allows computers to understand, generate, and manipulate human language.

# Bayes Theorem
Naive Bayes Theorem 
1. Naive Bayes is a shorthand for a set of algorithems that use Bayes'Theorem for supervised learning classification.
2. Bayes'Theorem is a probability formula that leverages previously known probabilities to define probability of relatedd events occuring.

In [1]:
with open('One.txt') as mytext:
    a = mytext.read()

In [2]:
a.lower().split()

['this',
 'is',
 'a',
 'story',
 'about',
 'dogs',
 'our',
 'canine',
 'pets',
 'dogs',
 'are',
 'furry',
 'animals']

In [3]:
a

'This is a story about dogs\nour canine pets\nDogs are furry animals\n'

In [4]:
print(a)

This is a story about dogs
our canine pets
Dogs are furry animals

In [5]:
with open('One.txt') as mytext:
    words_one = mytext.read().lower().split()
    uni_words_one = set(words_one)

In [6]:
uni_words_one

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'dogs',
 'furry',
 'is',
 'our',
 'pets',
 'story',
 'this'}

In [7]:
with open('Two.txt') as mytext:
    words_two = mytext.read().lower().split()
    uni_words_two = set(words_two)

In [8]:
uni_words_two

{'a',
 'about',
 'catching',
 'fun',
 'is',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [9]:
all_uni_words = set()
all_uni_words.update(uni_words_one)

In [10]:
all_uni_words.update(uni_words_two)

In [11]:
all_uni_words

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'catching',
 'dogs',
 'fun',
 'furry',
 'is',
 'our',
 'pets',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [12]:
full_vocab = dict()
i = 0
for word in all_uni_words:
    full_vocab[word]=i
    i = i+1

In [13]:
full_vocab

{'story': 0,
 'animals': 1,
 'fun': 2,
 'dogs': 3,
 'a': 4,
 'waves': 5,
 'about': 6,
 'canine': 7,
 'water': 8,
 'furry': 9,
 'this': 10,
 'are': 11,
 'popular': 12,
 'is': 13,
 'catching': 14,
 'pets': 15,
 'sport': 16,
 'surfing': 17,
 'our': 18}

In [14]:
one_freq = [0]*len(full_vocab)
two_freq = [0]*len(full_vocab)
all_words = ['']*len(full_vocab)

In [15]:
with open('One.txt') as f:
    one_text = f.read().lower().split()

In [17]:
for word in one_text:
    word_ind = full_vocab[word]
    one_freq[word_ind]+=1

In [18]:
one_freq

[1, 1, 0, 2, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1]

In [23]:
with open('Two.txt') as f:
    two_text = f.read().lower().split()

In [24]:
for word in two_text:
    word_ind = full_vocab[word]
    two_freq[word_ind]+=1

In [25]:
two_freq

[1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 3, 1, 0, 1, 2, 0]

In [26]:
for word in full_vocab:
    word_ind = full_vocab[word]
    all_words[word_ind] = word

In [27]:
all_words

['story',
 'animals',
 'fun',
 'dogs',
 'a',
 'waves',
 'about',
 'canine',
 'water',
 'furry',
 'this',
 'are',
 'popular',
 'is',
 'catching',
 'pets',
 'sport',
 'surfing',
 'our']

In [30]:
import pandas as pd
bow = pd.DataFrame(data = [one_freq,two_freq],columns = all_words)

In [31]:
bow

,story,animals,fun,dogs,a,waves,about,canine,water,furry,this,are,popular,is,catching,pets,sport,surfing,our
0,1,1,0,2,1,0,1,1,0,1,1,1,0,1,0,1,0,0,1
1,1,0,1,0,1,1,1,0,1,0,1,0,1,3,1,0,1,2,0

# Extracting Features